#nota {
    border: 1px solid black;
    min-height: 200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 2px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

#nota header {

}

#nota header h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

#nota main{
    text-align: center;
    padding: 0 10px;
}


#nota footer{
    display: flex;
    justify-content: space-around;
}

#nota footer span{
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

@media(min-width: 400px) {

    #nota {
        width: 400px;
    }
    
}